body {
    background-image: url(../img/pattern-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.layout__header {
    background-color: #0000aa;
    padding: 10px;
    border: 1px solid #0000aa;
}

.header__title {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    color: #fff;
}

.layout__nv3 {
    border: 3px solid #18a818;
    background-color: tomato;
    color: #fff;
    padding: 10px;
}