html {
    font-size: 10px;
}

body {
    background-color: aliceblue;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}

h1 {
    text-align: center;
    letter-spacing: 40px;
    line-height: 50px;
}

h3 {
    text-align: center;
    word-spacing: 20px;
}

p {
    text-align: justify;
    text-transform: uppercase;
    text-indent: 30px;
}