:root {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
}

ul, li, a {
    display: block;
    list-style: none;
    text-decoration: none;
}

.menu {
    padding: 15px;
    animation: rebote 3s infinite;
    -webkit-animation: rebote 3s infinite;
}

@keyframes rebote {
    0% {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }
    50% {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }
}

.menu__link {
    margin-bottom: 10px;
}